In [9]:
import numpy as np
import pandas as pd
import datetime

from cashflow.constants import (
    FED_BRACKET, FED_FICA, FED_MEDICARE, FED_DEDUCTION, FED_EXEMPTION,
    STATE_BRACKET, STATE_DEDUCTION, LOCAL_BRACKET, LOCAL_DEDUCTION)

from cashflow.methodology.cf_analysis import CashFlow
from cashflow.methodology.get_cashflow import get_cashflow

In [13]:
cf_data = get_cashflow(125000, 2000, 1200, 500, 0.07)

2017-11-07 21:00:08.924 FINANCIAL_CF INFO: Calculating federal tax
2017-11-07 21:00:08.930 FINANCIAL_CF INFO: Calculating state tax
2017-11-07 21:00:08.934 FINANCIAL_CF INFO: Calculating local tax
2017-11-07 21:00:08.939 FINANCIAL_CF INFO: Projecting capital growth

In [23]:
cf_data['cons_pre_tax']

           item      value        pct
0          rent  24000.000  19.200000
1       expense  14400.000  11.520000
2   consumption   6000.000   4.800000
3        saving  34348.455  27.478764
4       fed_tax  25069.750  20.055800
5      fed_fica   7750.000   6.200000
6  fed_medicare   1812.500   1.450000
7     state_tax   7286.725   5.829380
8     local_tax   4332.570   3.466056