In [1]:
import pandas as pd
import datetime
from db_session import start_session, close_session, logger
from db_models import DailyTransaction, InvestmentTransfer, Income
from constants import record_name

from update_records import write_records

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
session, engine = start_session()

2017-10-02 22:15:09.808 FINANCIAL_DB INFO: Starting database session......

In [4]:
db_name = 'daily_transaction'
records = pd.read_excel(record_name, sheetname=db_name, date_parser='txn_date').dropna(how='all')
records.empty

True

In [8]:
model = InvestmentTransfer
session.query(model).filter(
    model.txn_date >= datetime.date.today().replace(day=1)).delete()
session.bulk_insert_mappings(model, records.to_dict('record'))
session.commit()

2017-10-02 22:11:13,370 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-02 22:11:13.370 sqlalchemy.engine.base.Engine INFO: BEGIN (implicit)
2017-10-02 22:11:13,375 INFO sqlalchemy.engine.base.Engine DELETE FROM investment_transfer WHERE investment_transfer.txn_date >= %(txn_date_1)s
2017-10-02 22:11:13.375 sqlalchemy.engine.base.Engine INFO: DELETE FROM investment_transfer WHERE investment_transfer.txn_date >= %(txn_date_1)s
2017-10-02 22:11:13,377 INFO sqlalchemy.engine.base.Engine {'txn_date_1': datetime.date(2017, 10, 1)}
2017-10-02 22:11:13.377 sqlalchemy.engine.base.Engine INFO: {'txn_date_1': datetime.date(2017, 10, 1)}
2017-10-02 22:11:13,385 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-02 22:11:13.385 sqlalchemy.engine.base.Engine INFO: COMMIT

In [9]:
query = session.query(model).filter(model.txn_date >= datetime.date.today().replace(day=1))
pd.read_sql(query.statement, query.session.bind)

2017-10-02 22:11:15,238 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-02 22:11:15.238 sqlalchemy.engine.base.Engine INFO: select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-02 22:11:15,241 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT investment_transfer.id, investment_transfer.txn_date, investment_transfer.bank_acct, investment_transfer.inv_acct, investment_transfer.amount, ... (25 characters truncated) ... ency, investment_transfer.description, investment_transfer.last_update \nFROM investment_transfer \nWHERE investment_transfer.txn_date >= :txn_date_1'}
2017-10-02 22:11:15.241 sqlalchemy.engine.base.Engine INFO: {'name': 'SELECT investment_transfer.id, investment_transfer.txn_date, investment_transfer.bank_acct, investment_transfer.inv_acct, investment_transfer.amount, ... (25 characters truncated) ... ency, investment_transfer.description, investment_transfer.last_update \nFROM investment_transfer \nWHERE investment_transfer.txn_date >= :txn_date_1'}
2017-10-02 22:11:15,249 INFO sqlalchemy.engine.base.Engine SELECT investment_transfer.id, investment_transfer.txn_date, investment_transfer.bank_acct, investment_transfer.inv_acct, investment_transfer.amount, investment_transfer.currency, investment_transfer.description, investment_transfer.last_update
FROM investment_transfer
WHERE investment_transfer.txn_date >= %(txn_date_1)s
2017-10-02 22:11:15.249 sqlalchemy.engine.base.Engine INFO: SELECT investment_transfer.id, investment_transfer.txn_date, investment_transfer.bank_acct, investment_transfer.inv_acct, investment_transfer.amount, investment_transfer.currency, investment_transfer.description, investment_transfer.last_update
FROM investment_transfer
WHERE investment_transfer.txn_date >= %(txn_date_1)s
2017-10-02 22:11:15,253 INFO sqlalchemy.engine.base.Engine {'txn_date_1': datetime.date(2017, 10, 1)}
2017-10-02 22:11:15.253 sqlalchemy.engine.base.Engine INFO: {'txn_date_1': datetime.date(2017, 10, 1)}

Empty DataFrame
Columns: [id, txn_date, bank_acct, inv_acct, amount, currency, description, last_update]
Index: []

In [6]:
balance_new

         account  balance observation_date
0           Cash    27.00       2017-09-23
1  Citi_Checking  9480.26       2017-09-23
2    Citi_Credit     0.00       2017-09-23
3    Citi_Saving  5000.47       2017-09-23
4       Discover  -162.14       2017-09-23
5          Venmo   301.10       2017-09-23